<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <div class="clienteCard">
      <h3>ID: <%= cliente.id %></h3>
      <h3>Cliente ID: <%= cliente.id_cliente %></h3>
      <p>Empresa: <%= cliente.Nombre_Empresa %></p>
      <p>CUIT: <%= cliente.cuit %></p>
      <p>* Actividad: <%= cliente.actividadCliente?.actividad_label %></p>
      <p>Mail: <%= cliente.Mail%></p>

    
      <p>** Teléfono: <%= cliente.DomicilioCliente.Telefono%></p>
      <p>** Domicilio: <%= cliente.DomicilioCliente.Domicilio%></p>
      <p>** CP: <%= cliente.DomicilioCliente.CP%></p>
      <p>** Piso: <%= cliente.DomicilioCliente.Piso%></p>
      <p>** Oficina: <%= cliente.DomicilioCliente.Oficina%></p>

      <p>** Localidad: <%= cliente?.DomicilioCliente.Localidad.localidad_nombre%></p>
      <p>** Provincia: <%= cliente?.DomicilioCliente.Provincia.provincia_nombre%></p>
      <p>** País: <%= cliente?.DomicilioCliente.Pais.pais_nombre%></p>
      <p>** Cod. País: <%= cliente?.DomicilioCliente.Pais.codigo_pais%></p>
      <p>* Ejecutivo: <%= cliente?.ejecutivo.User_Nombre%></p>

      
      <p>WEB: <a href="http://<%= cliente.Web%>" target="_blank" rel="noopener noreferrer"><%= cliente.Web%></a></p>
      <p>* Modalidad de pago: <%= cliente.pagoModalidad.Modalidad_label%></p>
      <p>* Estado: <%= cliente.estadoCliente.estado_cliente_label %></p>      
      <p>* Estadío: <%= cliente.estadioCliente.estadio_cliente_label %></p>

      <p>Domicilio: <%= cliente.id_domicilio%></p>
    </div>
  </body>
</html>