<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <div class="clienteCard">
      <h3>ID: <%= cliente.id %></h3>
      <p>Empresa: <%= cliente.Nombre_Empresa %></p>
      <p>cuit: <%= cliente.cuit %></p>
      <p>Actividad: <%= cliente.Actividad %></p>

      <p>Teléfono: <%= cliente.Telefono%></p>
      <p>Mail: <%= cliente.Mail%></p>
      <p>Domicilio: <%= cliente.Domicilio%></p>
      <p>Localidad: <%= cliente.Localidad.localidad_label%></p>
      <p>Provincia: <%= cliente.Provincia.provincia_label%></p>
      <p>País: <%= cliente.pais.nombre_pais%></p>
      <p>Cod. País: <%= cliente.pais.codigo_pais%></p>
      <p>CP: <%= cliente.CP%></p>
      <p>Ejecutivo: <%= cliente.Ejecutivo%></p>
      <p>Piso: <%= cliente.Piso%></p>
      <p>Oficina: <%= cliente.Oficina%></p>
      <p>WEB: <a href="http://<%= cliente.Web%>" target="_blank" rel="noopener noreferrer"><%= cliente.Web%></a></p>
      <p>Actividad: <%= cliente.Actividad%></p>
      <p>Modalidad de pago: <%= cliente.modalidad_pago_id%></p>
      <p>Estadío: <%= cliente.estadio_cliente_id%></p>
    </div>
  </body>
</html>
