<%- include partials/header.ejs %>
<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <main class="main" id="main">
    <!-- container-fluid -->
		<div class="container-fluid">
      <!-- nav -->
      <%- include partials/sidebar.ejs %>
      <!-- fin nav -->

      <div class="content">
        <!-- header -->
        <%- include partials/nav.ejs %>
        <!-- fin header -->

        <!-- contenido -->
        <div class="mb-3 card">
            <div class="position-relative card-body">

                <div class="row g-5">
                    <div class="col-md-5 col-lg-4 order-md-last">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-primary">Your cart</span>
                        <span class="badge bg-primary rounded-pill">3</span>
                    </h4>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Product name</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="text-muted">$12</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Second product</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="text-muted">$8</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Third item</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="text-muted">$5</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">Promo code</h6>
                            <small>EXAMPLECODE</small>
                        </div>
                        <span class="text-success">−$5</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                        <span>Total (USD)</span>
                        <strong>$20</strong>
                        </li>
                    </ul>


                    </div>
                    <div class="col-md-7 col-lg-8">
                    <h4 class="mb-3"><%= title %>__</h4>


                        <form class="needs-validation" novalidate="" 
                            method="post"
                            action="creaOrdenForm"
                            enctype="application/x-www-form-urlencoded">
                            <div class="row g-3">

                                <div class="col-sm-6">

                                    <label for="state" class="form-label">contrato</label>
                                    <input value="<%=pedidoForm.id_contrato%>" class="form-control me-2" type="text" id="id_contrato" name="id_contrato">
                                </div>

                                <div class="col-sm-6">
                                    <label for="state" class="form-label">id_cliente</label>
                                    <input value="<%=pedidoForm.cliente%>" class="form-control me-2" type="text" id="id_cliente" name="id_cliente">
                                </div>

                                <div class="col-sm-6">
                                    <label for="state" class="form-label">Serie</label>
                                    <input value="<%=pedidoForm.serie%>" class="form-control me-2" type="text" id="serie" name="serie">
                                </div>

                                <div class="col-sm-6">
                                    <label for="state" class="form-label">nro_pedido</label>
                                    <input value="" class="form-control me-2" type="text" id="nro_pedido" name="nro_pedido">
                                </div>

                                <div class="col-sm-6">
                                    <label for="state" class="form-label">tipo_pedido</label>
                                    <input value="<%=pedidoForm.tipo_pedido%>" class="form-control me-2" type="text" id="tipo_pedido" name="tipo_pedido">
                                </div>

                                <div class="col-sm-6">
                                    <label for="state" class="form-label">detalle_pedido</label>
                                    <input value="" class="form-control me-2" type="text" id="detalle_pedido" name="detalle_pedido">
                                </div>

                                <div class="col-sm-6">
                                    <label for="state" class="form-label">observaciones_recepcion</label>
                                    <input value="" class="form-control me-2" type="text" id="observaciones_recepcion" name="observaciones_recepcion">
                                </div>

                                <div class="col-sm-6">
                                    <label for="state" class="form-label">tecnico</label>
                                    <input value="" class="form-control me-2" type="text" id="tecnico" name="tecnico">
                                </div>

                                <div class="col-sm-6">
                                    <label for="state" class="form-label">estado</label>
                                    <input value="" class="form-control me-2" type="text" id="estado" name="estado">
                                </div>

                                <div class="col-sm-6">
                                    <label for="state" class="form-label">ubicacion</label>
                                    <input value="" class="form-control me-2" type="text" id="ubicacion" name="ubicacion">
                                </div>

                                <div class="col-sm-6">
                                    <label for="state" class="form-label">domicilio</label>
                                    <input value="" class="form-control me-2" type="text" id="domicilio" name="domicilio">
                                </div>

                                <div class="col-sm-6">
                                    <label for="state" class="form-label">localidad</label>
                                    <input value="" class="form-control me-2" type="text" id="localidad" name="localidad">
                                </div>

                                <div class="col-sm-6">
                                    <label for="state" class="form-label">zona</label>
                                    <input value="" class="form-control me-2" type="text" id="zona" name="zona">
                                </div>

                                <div class="col-sm-6">
                                    <label for="state" class="form-label">pais</label>
                                    <input value="" class="form-control me-2" type="text" id="pais" name="pais">
                                </div>

                                <div class="col-sm-6">
                                    <label for="state" class="form-label">cp</label>
                                    <input value="" class="form-control me-2" type="text" id="cp" name="cp">
                                </div>

                                <div class="col-sm-6">
                                    <label for="state" class="form-label">id_contacto</label>
                                    <input value="" class="form-control me-2" type="text" id="id_contacto" name="id_contacto">
                                </div>


                                <hr class="my-4">

                                <button class="w-50 btn btn-primary btn-lg" type="submit">Cancelar</button>
                                <button class="w-50 btn btn-primary btn-lg" type="submit" id="btn_procesar">Confirmar</button>




                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
        <!-- fin contenido-->

        <!-- footer -->
        <%- include partials/footer.ejs %>
        <!-- fin footer -->
