<%- include partials/header.ejs %>
<body>
  <noscript></noscript>
  <main class="main" id="main">
    <!-- container-fluid -->
		<div class="container-fluid">
      <!-- nav -->
      <%- include partials/sidebar.ejs %>
      <!-- fin nav -->

      <div class="content">
        <!-- header -->
        <%- include partials/nav.ejs %>
        <!-- fin header -->

        <!-- contenido -->
        <div class="mb-3 card">
          <div class="position-relative card-body">
            <div class="row">
              <div class="col-lg-12">
                <h3 class="mb-0"><%= title %></h3><br>
              
                <h5><%= cliente.serie %> </h5>
                <h6><%= cliente.Nombre_Empresa %></h6>
                <p class="mt-2">
                    Actividad <%= cliente.actividadCliente.actividad_label %><br>

                    <%= cliente.DomicilioCliente.Domicilio %>
                    <%= cliente.DomicilioCliente.Piso %>
                    <%= cliente.DomicilioCliente.Oficina %>
                    <%= cliente.DomicilioCliente.CP %>
                    <%= cliente.DomicilioCliente.Telefono %>
                    <%= cliente.DomicilioCliente.Label %>
                    <%= cliente.DomicilioCliente.pais.nombre_pais %>
                    <%= cliente.DomicilioCliente.localidad_label %>
                    <%= cliente.DomicilioCliente.provincia_label %>
                    
                
                    <div>
                      <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="linea-tab" data-bs-toggle="tab" data-bs-target="#linea-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Linea de tiempo</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="contactos-tab" data-bs-toggle="tab" data-bs-target="#contactos-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false" tabindex="-1">Contactos</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="ficha-tab" data-bs-toggle="tab" data-bs-target="#ficha-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false" tabindex="-1">Ficha</button>
                        </li>




                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pedidos-tab" data-bs-toggle="tab" data-bs-target="#pedidos-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false" tabindex="-1">Pedidos</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="contratos-tab" data-bs-toggle="tab" data-bs-target="#contratos-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false" tabindex="-1">Contratos</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="nps-tab" data-bs-toggle="tab" data-bs-target="#nps-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false" tabindex="-1">NPs</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="alias-tab" data-bs-toggle="tab" data-bs-target="#alias-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false" tabindex="-1">Alias</button>
                        </li>



                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled="" tabindex="-1">Disabled</button>
                        </li>
                      </ul>

 
                      <div class="tab-content" id="myTabContent">
                        <!-- linea de tiempo -->
                        <div class="tab-pane fade active show" id="linea-tab-pane" role="tabpanel" aria-labelledby="linea-tab" tabindex="0">
                          
                          
                            <div data-simplebar="init" style="height: 26rem;">
                              <div class="simplebar-wrapper" style="margin: 0px;">
                                <div class="simplebar-height-auto-observer-wrapper">
                                  <div class="simplebar-height-auto-observer"></div>
                                </div>
                                <div class="simplebar-mask">
                                  <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                    <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden;">
                                      <div class="simplebar-content" style="padding: 0px;">
                                        <div class="ps-2 recent-activity-body-height card-body">
                                          <div class="g-3 recent-activity-timeline recent-activity-timeline-primary pb-card recent-activity-timeline-past row">
                                            <div class="ps-4 ms-2 col-auto">
                                              <div class="ps-2">
                                                <div class="icon-item icon-item-sm rounded-circle bg-200 shadow-none">
                                                  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope" class="svg-inline--fa fa-envelope fa-w-16 text-primary" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path fill="currentColor" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"></path>
                                                  </svg>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col">
                                              <div class="g-3 border-bottom pb-card row">
                                                <div class="col">
                                                  <h6 class="text-800 mb-1">Antony Hopkins sent an Email</h6>
                                                  <p class="fs--1 text-600 mb-0">Got an email for previous year sale report</p>
                                                </div>
                                                <div class="col-auto"><p class="fs--2 text-500 mb-0">2m ago</p></div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="g-3 recent-activity-timeline recent-activity-timeline-primary pb-card recent-activity-timeline-past row">
                                            <div class="ps-4 ms-2 col-auto">
                                              <div class="ps-2">
                                                <div class="icon-item icon-item-sm rounded-circle bg-200 shadow-none">
                                                  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="archive" class="svg-inline--fa fa-archive fa-w-16 text-primary" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path fill="currentColor" d="M32 448c0 17.7 14.3 32 32 32h384c17.7 0 32-14.3 32-32V160H32v288zm160-212c0-6.6 5.4-12 12-12h104c6.6 0 12 5.4 12 12v8c0 6.6-5.4 12-12 12H204c-6.6 0-12-5.4-12-12v-8zM480 32H32C14.3 32 0 46.3 0 64v48c0 8.8 7.2 16 16 16h480c8.8 0 16-7.2 16-16V64c0-17.7-14.3-32-32-32z"></path>
                                                  </svg>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col">
                                              <div class="g-3 border-bottom pb-card row">
                                                <div class="col">
                                                  <h6 class="text-800 mb-1">Emma archived a board</h6>
                                                  <p class="fs--1 text-600 mb-0">A finished project's board is archived recently</p>
                                                </div>
                                                <div class="col-auto">
                                                  <p class="fs--2 text-500 mb-0">26m ago</p>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="g-3 recent-activity-timeline recent-activity-timeline-primary pb-card recent-activity-timeline-current row">
                                            <div class="ps-4 ms-2 col-auto">
                                              <div class="ps-2">
                                                <div class="icon-item icon-item-sm rounded-circle bg-200 shadow-none">
                                                  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="code" class="svg-inline--fa fa-code fa-w-20 text-primary" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                                    <path fill="currentColor" d="M278.9 511.5l-61-17.7c-6.4-1.8-10-8.5-8.2-14.9L346.2 8.7c1.8-6.4 8.5-10 14.9-8.2l61 17.7c6.4 1.8 10 8.5 8.2 14.9L293.8 503.3c-1.9 6.4-8.5 10.1-14.9 8.2zm-114-112.2l43.5-46.4c4.6-4.9 4.3-12.7-.8-17.2L117 256l90.6-79.7c5.1-4.5 5.5-12.3.8-17.2l-43.5-46.4c-4.5-4.8-12.1-5.1-17-.5L3.8 247.2c-5.1 4.7-5.1 12.8 0 17.5l144.1 135.1c4.9 4.6 12.5 4.4 17-.5zm327.2.6l144.1-135.1c5.1-4.7 5.1-12.8 0-17.5L492.1 112.1c-4.8-4.5-12.4-4.3-17 .5L431.6 159c-4.6 4.9-4.3 12.7.8 17.2L523 256l-90.6 79.7c-5.1 4.5-5.5 12.3-.8 17.2l43.5 46.4c4.5 4.9 12.1 5.1 17 .6z"></path>
                                                  </svg>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col">
                                              <div class="g-3 border-bottom pb-card row">
                                                <div class="col">
                                                  <h6 class="text-800 mb-1">Falcon v3.0.0 released with new features</h6>
                                                  <p class="fs--1 text-600 mb-0">Falcon new version is released successfully with new Dashboards</p>
                                                </div>
                                                <div class="col-auto">
                                                  <p class="fs--2 text-500 mb-0">1h ago</p>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="g-3 recent-activity-timeline recent-activity-timeline-primary pb-card row">
                                            <div class="ps-4 ms-2 col-auto">
                                              <div class="ps-2">
                                                <div class="icon-item icon-item-sm rounded-circle bg-200 shadow-none">
                                                  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="code-branch" class="svg-inline--fa fa-code-branch fa-w-12 text-primary" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M384 144c0-44.2-35.8-80-80-80s-80 35.8-80 80c0 36.4 24.3 67.1 57.5 76.8-.6 16.1-4.2 28.5-11 36.9-15.4 19.2-49.3 22.4-85.2 25.7-28.2 2.6-57.4 5.4-81.3 16.9v-144c32.5-10.2 56-40.5 56-76.3 0-44.2-35.8-80-80-80S0 35.8 0 80c0 35.8 23.5 66.1 56 76.3v199.3C23.5 365.9 0 396.2 0 432c0 44.2 35.8 80 80 80s80-35.8 80-80c0-34-21.2-63.1-51.2-74.6 3.1-5.2 7.8-9.8 14.9-13.4 16.2-8.2 40.4-10.4 66.1-12.8 42.2-3.9 90-8.4 118.2-43.4 14-17.4 21.1-39.8 21.6-67.9 31.6-10.8 54.4-40.7 54.4-75.9zM80 64c8.8 0 16 7.2 16 16s-7.2 16-16 16-16-7.2-16-16 7.2-16 16-16zm0 384c-8.8 0-16-7.2-16-16s7.2-16 16-16 16 7.2 16 16-7.2 16-16 16zm224-320c8.8 0 16 7.2 16 16s-7.2 16-16 16-16-7.2-16-16 7.2-16 16-16z"></path>
                                                  </svg>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col">
                                              <div class="g-3 border-bottom pb-card row">
                                                <div class="col">
                                                  <h6 class="text-800 mb-1">Rowan shared a link to the board</h6>
                                                  <p class="fs--1 text-600 mb-0">A link is shared with attachments</p>
                                                </div>
                                                <div class="col-auto">
                                                  <p class="fs--2 text-500 mb-0">3h ago</p>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="g-3 recent-activity-timeline recent-activity-timeline-primary row">
                                            <div class="ps-4 ms-2 col-auto">
                                              <div class="ps-2">
                                                <div class="icon-item icon-item-sm rounded-circle bg-200 shadow-none">
                                                  <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="file-code" class="svg-inline--fa fa-file-code fa-w-12 text-primary" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                                    <path fill="currentColor" d="M149.9 349.1l-.2-.2-32.8-28.9 32.8-28.9c3.6-3.2 4-8.8.8-12.4l-.2-.2-17.4-18.6c-3.4-3.6-9-3.7-12.4-.4l-57.7 54.1c-3.7 3.5-3.7 9.4 0 12.8l57.7 54.1c1.6 1.5 3.8 2.4 6 2.4 2.4 0 4.8-1 6.4-2.8l17.4-18.6c3.3-3.5 3.1-9.1-.4-12.4zm220-251.2L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zM256 51.9l76.1 76.1H256zM336 464H48V48h160v104c0 13.3 10.7 24 24 24h104zM209.6 214c-4.7-1.4-9.5 1.3-10.9 6L144 408.1c-1.4 4.7 1.3 9.6 6 10.9l24.4 7.1c4.7 1.4 9.6-1.4 10.9-6L240 231.9c1.4-4.7-1.3-9.6-6-10.9zm24.5 76.9l.2.2 32.8 28.9-32.8 28.9c-3.6 3.2-4 8.8-.8 12.4l.2.2 17.4 18.6c3.3 3.5 8.9 3.7 12.4.4l57.7-54.1c3.7-3.5 3.7-9.4 0-12.8l-57.7-54.1c-3.5-3.3-9.1-3.2-12.4.4l-17.4 18.6c-3.3 3.5-3.1 9.1.4 12.4z"></path>
                                                  </svg>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col">
                                              <div class="g-3 row">
                                                <div class="col">
                                                  <h6 class="text-800 mb-1">Anna updated a file</h6>
                                                  <p class="fs--1 text-600 mb-0">Fixed some bugs and spelling errors on this update</p>
                                                </div>
                                                <div class="col-auto">
                                                  <p class="fs--2 text-500 mb-0">4h ago</p>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="simplebar-placeholder" style="width: auto; height: 408px;"></div>
                              </div>
                              <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                                <div class="simplebar-scrollbar simplebar-visible" style="width: 0px; display: none;"></div>
                              </div>
                              <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
                                <div class="simplebar-scrollbar simplebar-visible" style="height: 0px; display: none;"></div>
                              </div>
                            </div>
                          

                        </div>
                        <!-- fin linea de tiempo -->


                        <div class="tab-pane fade" id="contactos-tab-pane" role="tabpanel" aria-labelledby="contactos-tab" tabindex="0">
                          <h3 class="text-primary">Contactos</h3>
                        </div>
                        <div class="tab-pane fade" id="ficha-tab-pane" role="tabpanel" aria-labelledby="ficha-tab" tabindex="0">
                          <h3 class="text-primary">Ficha</h3>
                        </div>

                        <div class="tab-pane fade" id="pedidos-tab-pane" role="tabpanel" aria-labelledby="pedidos-tab" tabindex="0">
                          <h3 class="text-primary">Pedidos</h3>
                          
                          <!-- start: DYNAMIC TABLE PANEL -->
                          <div id="sample_1_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <table class="table table-striped table-bordered table-hover table-full-width dataTable" id="sample_1" aria-describedby="sample_1_info">
                              <thead>
                                <tr role="row">
                                  <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Nro Pedido: ascendente / descendente" style="width: 212px;">Nro Pedido</th>
                                  <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="Cliente: ascendente / descendente" style="width: 247px;">Cliente</th>
                                  <th class="hidden-xs sorting" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" Contrato: ascendente / descendente" style="width: 183px;"> Contrato</th>
                                  <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="Serie: ascendente / descendente" style="width: 115px;">Serie</th>
                                  <th class="hidden-xs sorting" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="Fecha: ascendente / descendente" style="width: 127px;">Fecha</th>
                                  <th class="hidden-xs sorting" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="Estado: ascendente / descendente" style="width: 127px;">Estado</th>
                                </tr>
                              </thead>
                              <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <% for( let i = 0; i < pedidos.length; i++ ) { %>
                                <tr>
                                  <td class="hidden-xs"><a href="/vistas/pedido/<%= pedidos[i].nro_pedido%>"><%= pedidos[i].nro_pedido%></a></td>
                                  <td class="hidden-xs"><a href="/vistas/clientes/<%= pedidos[i].id_cliente%>"><%= pedidos[i].id_cliente%></a></td>
                                  <td class="hidden-xs"><%= pedidos[i].id_contrato%></td>
                                  <td class="hidden-xs"><a href="/vistas/localizador/<%= pedidos[i].serie%>"><%= pedidos[i].serie%></a></td>
                                  <td class="hidden-xs"><%= pedidos[i].fecha%></td>
                                  <td class="hidden-xs"><%= pedidos[i].PedidoEstado.estado_nombre%></td>
                                </tr>
                                <% } %>
                              </tbody>
                            </table>
                          </div>
                          <!-- end: DYNAMIC TABLE PANEL -->
                        </div>

                        <div class="tab-pane fade" id="contratos-tab-pane" role="tabpanel" aria-labelledby="contratos-tab" tabindex="0">
                          <h3 class="text-primary">Contratos</h3>
                          <% for( let i = 0; i < contratos.length; i++ ) { %>
                            <%= contratos[i].id_contrato %><br>
                            <%= contratos[i].TipoContrato.tipo_contrato_label %>-<%= contratos[i].TipoContrato.tipo_contrato_sigla %><br>
                            
                            <br>
                          <% } %>
                        </div>

                        <div class="tab-pane fade" id="nps-tab-pane" role="tabpanel" aria-labelledby="nps-tab" tabindex="0">
                          <h3 class="text-primary">NP</h3>
                          <!-- start: DYNAMIC TABLE PANEL -->
                          <div id="sample_1_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <table class="table table-striped table-bordered table-hover table-full-width dataTable" id="sample_1" aria-describedby="sample_1_info">
                              <thead>
                                <tr role="row">
                                  <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Prospecto: ascendente / descendente" style="width: 212px;">Prospecto</th>
                                  <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="Contrato: ascendente / descendente" style="width: 247px;">Contrato</th>
                                  <th class="hidden-xs sorting" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" Tipo: ascendente / descendente" style="width: 183px;"> Tipo</th>
                                  <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="Estado: ascendente / descendente" style="width: 115px;">Estado</th>
                                  <th class="hidden-xs sorting" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="Fecha Vencimiento: ascendente / descendente" style="width: 127px;">Fecha Vencimiento</th>
                                </tr>
                              </thead>
                              <tbody role="alert" aria-live="polite" aria-relevant="all">
                                
                                <tr>
                                  <td class="hidden-xs">-</td>
                                  <td class="hidden-xs">-</td>
                                  <td class="hidden-xs">-</td>
                                  <td class="hidden-xs">-</td>
                                  <td class="hidden-xs">-</td>
                                </tr>
                               
                              </tbody>
                            </table>
                          </div>
                          <!-- end: DYNAMIC TABLE PANEL -->
                        </div>

                        <div class="tab-pane fade" id="alias-tab-pane" role="tabpanel" aria-labelledby="alias-tab" tabindex="0">
                          
                          <h3 class="text-primary">Alias</h3>

                          <% for( let i = 0; i < alias.length; i++ ) { %>
                            <p>: <%= alias[i].id %> <%= alias[i].alias_label %> </p>
                          <% } %>
                        </div>
                      
                        <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
                          Disabled
                        </div>
                      </div>
                    </div>
                
              </div>
            </div>
          </div>
        </div>
        <!-- fin contenido-->

        <!-- footer -->
        <%- include partials/footer.ejs %>
        <!-- fin footer -->
