<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>serie: <%= equipo.serie%> </p>
    <p>id: <%= equipo.id%> </p>
    <p>modelo: <%= equipo.modelo%> </p>
    <p>estado: <%= equipo.estado%> </p>

  </body>
</html>
