<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% for( let i = 0; i < equipos.length; i++ ) { %>
      <div class="clienteCard">
      <a href="/vistas/equipos/<%= equipos[i].serie %>"><%= equipos[i].serie %></a>
      <br>
    </div>
    <% } %>
  </body>
</html>
