<%- include partials/header.ejs %>
<body>
  <noscript></noscript>
  <main class="main" id="main">
    <!-- container-fluid -->
		<div class="container-fluid">
      <!-- nav -->
      <%- include partials/sidebar.ejs %>
      <!-- fin nav -->

      <div class="content">
        <!-- header -->
        <%- include partials/nav.ejs %>
        <!-- fin header -->

        <!-- contenido -->
        <div class="mb-3 card">
          <div class="position-relative card-body">
            <div class="row">
              <div class="col-lg-8">
                <h3 class="mb-0"><%= title %></h3><br>
              
                <h5>Serie: <%= equipo.serie %></h5>
                <h6><%= equipo.ModeloEquipo.modelo %>  / <%= equipo.ModeloEquipo.ModeloMarca.marca_label  %></h6>
                <p class="mt-2">
                  Estado equipo: <%= equipo.EquipoEstado.estado_equipo_label %>  <br>
                  Propiedad: <%= equipo.EquiposPropietarios.propietario_label  %>  <br>
                  Tipo Equipo: <%= equipo.ModeloEquipo.TipoEquipo.tipo_label  %>  <br>
                  Tipo Contadores: <%= equipo.ModeloEquipo.TipoEquipo.TipoContadores.tipo_contadores_label %>  <br><br>
                  
                  
                
                estado: <%= equipo.DetalleEquipo.estado %> <br>
                version: <%= equipo.DetalleEquipo.version %> <br>
                falta semaforo<br>
                {{<%= equipo.ModeloEquipo.Semaforo.modelo %> /  }}


                <% semaforo_rojo_i = equipo.ModeloEquipo.Semaforo.semaforo_rojo_i %><br>
                <% semaforo_rojo_f = equipo.ModeloEquipo.Semaforo.semaforo_rojo_f %><br>
                <% semaforo_amarillo_i = equipo.ModeloEquipo.Semaforo.semaforo_amarillo_i %><br>
                <% semaforo_amarillo_f = equipo.ModeloEquipo.Semaforo.semaforo_amarillo_f %><br>
                <% semaforo_verde_i = equipo.ModeloEquipo.Semaforo.semaforo_verde_i %><br>
                <% semaforo_verde_f = equipo.ModeloEquipo.Semaforo.semaforo_verde_f %><br>
                <% semaforo_tolerancia = equipo.ModeloEquipo.Semaforo.semaforo_tolerancia %><br>
                <% semaforo_alarma_parque = equipo.ModeloEquipo.Semaforo.semaforo_alarma_parque %><br>


                <% Contador = SemaforoContadorActual.ContAct_BYN %><br>
                <%= SemaforoContadorActual.ContAct_Col %><br>
                <%= SemaforoContadorActual.ContAct_Scan %><br>




                

                
                <!-- inicio semaforo-->
                <!-- calculo verde-->
                <% if (Contador >= 0 && Contador <= semaforo_verde_f)   {  %>
                  <!-- calculo tolerancia verde-->
                  <% if (Contador <= semaforo_verde_f  - semaforo_verde_f * semaforo_tolerancia / 100)   {  %>
                    <% alerta_color = "semaforo_verde" %>
                    <% alerta_signo = "" %>
                  <% } else { %> 
                    <% alerta_color = "semaforo_verde_amarillo" %>
                    <% alerta_signo = "" %>
                  <% } %>
                  <!-- fin calculo tolerancia verde-->
                <% } else { %> 
                  <!-- no es verde -->
                  <!-- calculo amarillo-->
                  <% if (Contador >= semaforo_amarillo_i && Contador <= semaforo_amarillo_f)   {  %>
                    <!-- calculo tolerancia amarillo-->
                    <% if (Contador <= semaforo_amarillo_f  - semaforo_amarillo_f * semaforo_tolerancia / 100)   {  %>
                      <% alerta_color = "semaforo_amarillo" %>
                      <% alerta_signo = "" %>
                    <%} else {%> 
                      <% alerta_color = "semaforo_amarillo_rojo" %>
                        <% alerta_signo = "" %>
                    <% } %>
                    <!-- fin calculo tolerancia amarillo-->
                  <%} else {%> 
                    <!-- no es amarillo -->
                    <!-- calculo rojo-->
                    <% if (Contador >= semaforo_rojo_i && Contador <= semaforo_rojo_f)   {  %>
                      <!-- calculo tolerancia rojo-->
                      <% if (Contador <= semaforo_rojo_f  - semaforo_rojo_f * semaforo_tolerancia / 100)   {  %>
                        <% alerta_color = "semaforo_rojo" %>
                        <% alerta_signo = "" %>
                      <% } else { %> 
                        <% alerta_color = "semaforo_rojo" %>
                        <% alerta_signo = "!" %>
                      <% } %>
                      <!-- fin calculo tolerancia rojo-->
                    <%} else {%> 
                      <!-- no es rojo -->
                      <!-- calculo alerta-->
                      <% if (Contador >= semaforo_alarma_parque) { %>
                        <% alerta_color = "semaforo_rojo" %>
                        <% alerta_signo = "!" %>
                      <% } else { %> 
                        <!-- no es alerta -->
                        <% alerta_color = "semaforo_vacio" %>
                        <% alerta_signo = "" %>
                      <% } %>
                      <!-- fin calculo alerta-->
                    <% } %>
                    <!-- fin calculo rojo-->
                  <% } %>
                  <!-- fin calculo amarillo-->
                <% } %>
                <!-- fin calculo verde-->
                <!-- fin semaforo-->

                <div class="semaforo_circulo <%= alerta_color %>"><%= alerta_signo %></div> <%= equipo.serie %>

                
                
                
              </div>
            </div>
          </div>
        </div>


        <div class="g-0 row">
          <div class="pe-lg-2 col-lg-8">

            <div id="cliente" class="mb-3 card">
              <div class="bg-light card-header">
                <h5 class="mb-0">Cliente</h5>
              </div>
              <div class="card-body">
                <h6 class="text-primary">Equipo Instalado en Cliente</h6>
                <%= equipo.DetalleEquipo.ContratoDetalle.ContratoCliente.id_cliente %> - <%= equipo.DetalleEquipo.ContratoDetalle.ContratoCliente.Nombre_Empresa %><br><br>
                
                
                <br><br>
                Estadío Cliente: <%= equipo.DetalleEquipo.ContratoDetalle.ContratoCliente.estadioCliente.estadio_cliente_label %><br>
                Ejecutivo: <%= equipo.DetalleEquipo.ContratoDetalle.ContratoCliente.ejecutivo.User_Nombre %><br>
                <%= equipo.DetalleEquipo.ContratoDetalle.ContratoCliente.Web %>
                <br><br>



                
                Ubicaci&oacute;n: <%= equipo.DetalleEquipo.ubicacion %> <br>
                
                Zona:  <br>



                  Domicilio<%= equipo.DetalleEquipo.DomicilioEquipo.Domicilio %><br>
                    <br>
                    revisar:
                    Piso<%= equipo.DetalleEquipo.DomicilioEquipo.Piso %><br>
                    Oficina: <%= equipo.DetalleEquipo.DomicilioEquipo.Oficina %><br>
                    <br>

                    CP: <%= equipo.DetalleEquipo.DomicilioEquipo.CP %><br>
                    Telefono:<%= equipo.DetalleEquipo.DomicilioEquipo.Telefono %><br>
                    Sede:<%= equipo.DetalleEquipo.DomicilioEquipo.Label %><br>
                    País: <%= equipo.DetalleEquipo.DomicilioEquipo.pais.nombre_pais %><br>

                    Localidad: <%= equipo.DetalleEquipo.DomicilioEquipo.Localidad.localidad_label %><br>

                    Provincia: <%= equipo.DetalleEquipo.DomicilioEquipo.Provincia.provincia_label %><br>
          

                T&eacute;cnico: <%= equipo.DetalleEquipo.Tecnico.User_Nombre %> <br>
                Contacto: <%= equipo.DetalleEquipo.contacto %> <br>

                Tipo Toma: <%= equipo.DetalleEquipo.tipo_toma %> <br>
                D&iacute;a contador: <%= equipo.DetalleEquipo.dia_contador %> <br>
                
                
                Nro pedido instalaci&oacute;n: <%= equipo.DetalleEquipo.nro_pedido_instalacion %><br>
                
              </div>
            </div>


            <div id="contrato" class="mb-3 card">
              <div class="bg-light card-header">
                <h5 class="mb-0">Contrato</h5>
              </div>
              <div class="card-body">
                <h6 class="text-primary">Detalle del Contrato</h6>
                Contrato: <%= equipo.DetalleEquipo.contrato_id %> <br>


                estado: <%= equipo.DetalleEquipo.ContratoDetalle.ContratoEstado.estado_label %><br>
                firmado: <%= equipo.DetalleEquipo.ContratoDetalle.firmado %><br>
                Condicion Sellado: <%= equipo.DetalleEquipo.ContratoDetalle.SelladoContrato.condicion_detalle %><br>

                Cantidad Equipos: <%= equipo.DetalleEquipo.ContratoDetalle.equipos %><br>

                fecha_inicio: <%= equipo.DetalleEquipo.ContratoDetalle.fecha_inicio %><br>
                fecha_vencimiento: <%= equipo.DetalleEquipo.ContratoDetalle.fecha_vencimiento %><br>
                fecha_baja: <%= equipo.DetalleEquipo.ContratoDetalle.fecha_baja %><br>

                <%= equipo.DetalleEquipo.ContratoDetalle.TipoContrato.tipo_contrato_sigla %> - <%= equipo.DetalleEquipo.ContratoDetalle.TipoContrato.tipo_contrato_label %><br>
                <%= equipo.DetalleEquipo.ContratoDetalle.observaciones %><br>
                


              </div>
            </div>

            <div id="alias" class="mb-3 card">
              <div class="bg-light card-header">
                <h5 class="mb-0">Alias</h5>
              </div>
              <div class="card-body">
                <h6 class="text-primary">Alias del cliente</h6>
                
                Alias: <a href="/vistas/aliasEquipos/<%= equipo.DetalleEquipo.AliasCliente.id %>" target="_blank"><%= equipo.DetalleEquipo.AliasCliente.alias_label %></a> <br>
                


              </div>
            </div>

            
            <div id="accesorios" class="mb-3 card">
              <div class="bg-light card-header">
                <h5 class="mb-0">Accesorios</h5>
              </div>
              <div class="card-body">
                <h6 class="text-primary">Accesorios Instalados:</h6>

                <!-- tabla Accesorios-->
                <div class="table-responsive">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th scope="col">Serie Accesorio</th>
                        <th scope="col">ID</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Descripci&oacute;n</th>
                        <th scope="col">Propietario</th>
                        <th scope="col">Instalaci&oacute;n</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for( let i = 0; i < accesorios.length; i++ ) { %>
                        <tr>
                          <td><a href="/vistas/accesorio/<%= accesorios[i].serie_accesorio %>" target="_blank"><%= accesorios[i].serie_accesorio %></a></td>
                          <td style="white-space: nowrap;"><%= accesorios[i].Accesorio.id_accesorio %></td>
                          <td style="white-space: nowrap;"><%= accesorios[i].Accesorio.ModeloAccesorio.modelo %></td>
                          <td><%= accesorios[i].Accesorio.ModeloAccesorio.ModeloMarcaAccesorio.marca_label %></td>
                          <td><%= accesorios[i].Accesorio.ModeloAccesorio.TipoAccesorio.tipo_accesorio %></td>
                          <td><%= accesorios[i].Accesorio.ModeloAccesorio.descripcion %></td>
                          <td><%= accesorios[i].Accesorio.EquiposPropietarios.propietario_label %></td>
                          <td><%= accesorios[i].nro_pedido_instalacion %></td>

                        </tr>                      
                      <% } %>
                      
                    </tbody>
                  </table>
                </div>
                <!-- fin Accesorios -->
              </div>

              <div class="card-body">
                <h6 class="text-primary">Accesorios por Instalar:</h6>
                ##falta
              </div>
            </div>


            <div id="contadores" class="mb-3 card">
              <div class="bg-light card-header">
                <h5 class="mb-0">Contadores</h5>
              </div>
              <div class="card-body">
                <h6 class="text-primary">&Uacute;ltimo Contador</h6>

                <!-- tabla contador actual -->
                <div class="table-responsive">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th scope="col">Act_BYN</th>
                        <th scope="col">Act_Col</th>
                        <th scope="col">Act_Scan</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Contrato</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                        <tr>
                          <td><%= SemaforoContadorActual.ContAct_BYN %></td>
                          <td><%= SemaforoContadorActual.ContAct_Col %></td>
                          <td><%= SemaforoContadorActual.ContAct_Scan %></td>
                          <td><%= SemaforoContadorActual.fecha_full %></td>
                          <td><%= SemaforoContadorActual.contrato %></td>
                        </tr>

                    </tbody>
                  </table>
                </div>
                <!-- fin tabla contador actual -->

                
                

                <h6 class="text-primary">Contadores Anteriores</h6>
                <!-- tabla contadores -->
                <div class="table-responsive">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th scope="col">Act_BYN</th>
                        <th scope="col">Act_Col</th>
                        <th scope="col">Act_Scan</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Contrato</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for( let i = 0; i < contadores.length; i++ ) { %>
                        <tr>
                          <td><%= contadores[i].ContAct_BYN %></td>
                          <td><%= contadores[i].ContAct_Col %></td>
                          <td><%= contadores[i].ContAct_Scan %></td>
                          <td><%= contadores[i].fecha_full %></td>
                          <td><%= contadores[i].contrato %></td>
                        </tr>
                      <% } %>
                      
                    </tbody>
                  </table>
                </div>
                <!-- fin tabla contadores -->
                
              </div>
            </div>


            <div id="pedidos" class="mb-3 card">
              <div class="bg-light card-header">
                <h5 class="mb-0">Pedidos</h5>
              </div>
              <div class="card-body">

                <!-- tabla pedidos -->
                <div class="table-responsive">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th scope="col">Pedido</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Fecha</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for( let i = 0; i < pedidos.length; i++ ) { %>
                        <tr>
                          <td><%= pedidos[i].nro_pedido %></td>
                          <td  style="white-space: nowrap;"><%= pedidos[i].PedidoEstado.estado_nombre %></td>
                          <td><%= pedidos[i].detalle_pedido %></td>
                          <td style="white-space: nowrap;"><%= pedidos[i].fecha %></td>
                        </tr>
                        
                      <% } %>
                      
                    </tbody>
                  </table>
                </div>
                <!-- fin pedidos -->
                
                
                
              </div>
            </div>


            <div id="laboratorio" class="mb-3 card">
              <div class="bg-light card-header">
                <h5 class="mb-0">Laboratorio</h5>
              </div>
              <div class="card-body">
                <h6 class="text-primary">No disponible</h6>
                
              </div>
            </div>


            <div id="insumos" class="mb-3 card">
              <div class="bg-light card-header">
                <h5 class="mb-0">Insumos</h5>
              </div>
              <div class="card-body">
                <h6 class="text-primary">No disponible</h6>
                
              </div>
            </div>


            <div id="repuestos" class="mb-3 card">
              <div class="bg-light card-header">
                <h5 class="mb-0">Repuestos</h5>
              </div>
              <div class="card-body">
                <h6 class="text-primary">No disponible</h6>
                
              </div>
            </div>


            <div id="precarga" class="mb-3 card">
              <div class="bg-light card-header">
                <h5 class="mb-0">Tarjetas Precarga</h5>
              </div>
              <div class="card-body">
                <h6 class="text-primary">No disponible</h6>
                
              </div>
            </div>

          </div>
          

          <div class="ps-lg-2 col-lg-4">
            <div class="sticky-sidebar">
              <div class="sticky-top card">
                <div class="border-bottom card-header">
                  <h6 class="mb-0 fs-0">Accesos</h6>
                </div>
                <div class="card-body">
                  <div id="terms-sidebar" class="terms-sidebar nav flex-column fs--1">

                    <div class="nav-item">
                      <a href="#cliente" class="nav-link px-0 py-1 nav-link active">Cliente</a>
                    </div>

                    <div class="nav-item">
                      <a href="#contrato" class="nav-link px-0 py-1 nav-link">Contrato</a>
                    </div>

                    <div class="nav-item">
                      <a href="#alias" class="nav-link px-0 py-1 nav-link">Alias</a>
                    </div>

                    <div class="nav-item">
                      <a href="#accesorios" class="nav-link px-0 py-1 nav-link">Accesorios</a>
                    </div>
                    <div class="nav-item">
                      <a href="#contadores" class="nav-link px-0 py-1 nav-link">Contadores</a>
                    </div>
                    <div class="nav-item">
                      <a href="#pedidos" class="nav-link px-0 py-1 nav-link">Pedidos</a>
                    </div>
                    <div class="nav-item">
                      <a href="#laboratorio" class="nav-link px-0 py-1 nav-link">Laboratorio</a>
                    </div>
                    <div class="nav-item">
                      <a href="#insumos" class="nav-link px-0 py-1 nav-link">Insumos</a>
                    </div>
                    <div class="nav-item">
                      <a href="#repuestos" class="nav-link px-0 py-1 nav-link">Repuestos</a>
                    </div>
                    <div class="nav-item">
                      <a href="#precarga" class="nav-link px-0 py-1 nav-link">Tarjetas Precarga</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- fin contenido-->

        <!-- footer -->
        <%- include partials/footer.ejs %>
        <!-- fin footer -->