<%- include partials/header.ejs %>

    <body>
        <noscript></noscript>

        <main class="main" id="main">
            <!-- container-fluid -->
            <div class="container-fluid">
                <!-- nav -->
                <%- include partials/sidebar.ejs %>
                    <!-- fin nav -->

                    <div class="content">
                        <!-- header -->
                        <%- include partials/nav.ejs %>
                            <!-- fin header -->

                            <!-- contenido -->
                            <div class="g-lg-3 font-sans-serif row">
                                <div class="col-lg-8">


                                    <div class="mb-3 card">
                                        <div class="bg-holder bg-card d-none d-md-block box-image-background" ></div>
                                        <div class="position-relative card-body">
                                            <div class="row">
                                                <div class="col-xl-10 ">
                                                    <h3><%= title %></h3>
                                                    <p class="mb-0">
                                                      
                                                      <p> serie =  <%= pedidoNro.serie %> <br>
                                                        <%= pedidoNro.PedidoSerie.DetalleEquipo.ModeloEquipo.modelo %>
                                                        <%= pedidoNro.PedidoSerie.DetalleEquipo.ModeloEquipo.ModeloMarca.marca_label %></p>
                                                      <p> <a href="/vistas/clientes/<%= pedidoNro.id_cliente %>"></a><%= pedidoNro.id_cliente %> - <%= pedidoNro.PedidoCliente.Nombre_Empresa %></a> </p>
                                                      
                                                      <!---->
                                                        <div class="navbar-collapse collapse"  id="detalle_pedido">
                                                            <p> id_contrato = <%= pedidoNro.id_contrato %></p>
                                                            <p> tipo =  <%= pedidoNro.PedidoTipo.tipo_pedido_nombre %> </p>
                                                            <p> estado =  <%= pedidoNro.PedidoEstado.estado_nombre %></p>

                                                            <p>Alias: <%= pedidoNro.PedidoSerie.AliasID.alias_label %></p>
                                                      
                                                      
                                                      

                                                            <p> fecha =  <%= pedidoNro.fecha %> </p>

                                                        </div>
                                                    <!---->

                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="bg-light p-0 border-top d-grid card-footer position-relative" style="text-align: center; padding: 5px;">
                                            <a class="nav-link" data-toggle="collapse" href="#detalle_pedido">Mostrar +</a>

                                        </div>

                                    </div>

                                    <form class="needs-validation orderForm" novalidate="" method="post"
                                            action="/vistas/actualizarOrden/<%= pedidoNro.nro_pedido %>?_method=PUT"
                                            >
                                    <div class="mb-3 card">
                                        <h5 class="card-header">Información del Pedido <%= pedidoNro.nro_pedido %></h5>
                                        <div class="bg-light card-body">
                                            <div class="gx-2 gy-3 row">
                                                <div class="col-12">
                                                    <div>
                                                        <label class="form-label">Detalle Pedido:</label>
                                                        <div class=" css-b62m3t-container">
                                                            <textarea class="form-control me-2 <%= locals.errors && errors.detalle_pedido ? 'is-invalid' : null %>" rows="6" type="text" id="detalle_pedido" name="detalle_pedido"><%= pedidoNro.detalle_pedido %></textarea>
                                                            <p id="detalle_pedidoError" class="errorTextFront"></p>
                                                             <% if (locals.errors && errors.detalle_pedido) { %>
                                                             <p class="errorTextBack"> <%= errors.detalle_pedido.msg %> </p>
                                                             <% } %>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <div>
                                                        <label class="form-label">Observaciones:</label>
                                                        <div class=" css-b62m3t-container">
                                                            <textarea class="form-control me-2 <%= locals.errors && errors.observaciones_recepcion ? 'is-invalid' : null %>" rows="6" type="text" id="observaciones_recepcion" name="observaciones_recepcion"><%= pedidoNro.observaciones_recepcion %></textarea>
                                                            <p id="observaciones_recepcionError" class="errorTextFront"></p>
                                                             <% if (locals.errors && errors.observaciones_recepcion) { %>
                                                             <p class="errorTextBack"> <%= errors.observaciones_recepcion.msg %> </p>
                                                             <% } %>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div>
                                                        <label class="form-label">T&eacute;cnico Asignado: </label>
                                                        <select class="form-select" id="tecnico" name="tecnico" required="">
                                                            
                                                            <% for( let i=0; i < tecnicos.length; i++ ) { %>
                                                                <%if ( tecnicos[i].id == pedidoNro.tecnico) { %>
                                                                    <option value="<%= tecnicos[i].id %>" id="<%= tecnicos[i].id %>" selected>T&eacute;cnico Asignado: <%= tecnicos[i].User_Nombre %></option>
                                                                <% } else { %>
                                                                    <option value="<%= tecnicos[i].id %>" id="<%= tecnicos[i].id %>"><%= tecnicos[i].User_Nombre %></option>
                                                                <% } %>

                                                            <% } %>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        <label class="form-label">T&eacute;cnico Responsable:</label>
                                                        <br><%= pedidoNro.PedidoSerie.Tecnico.User_Nombre %>
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <div>
                                                        <label class="form-label">Información del equipo:</label>


                                                        <div class="g-3 row">
                                                            <label class="form-label col-form-label col-form-label-sm col-lg-2">Domicilio:</label>
                                                            <div class="col"><%= pedidoNro.domicilio %></div>
                                                        </div>

                                                        <div class="g-3 row">
                                                            <label class="form-label col-form-label col-form-label-sm col-lg-2">Ubicacion</label>
                                                            <div class="col"><%= pedidoNro.Piso %> <%= pedidoNro.Oficina %> <%= pedidoNro.ubicacion %></div>
                                                        </div>

                                                        <div class="g-3 row">
                                                            <label class="form-label col-form-label col-form-label-sm col-lg-2">Teléfono:</label>
                                                            <div class="col"><%= pedidoNro.telefono %></div>
                                                        </div>

                                                        <div class="g-3 row">
                                                            <label class="form-label col-form-label col-form-label-sm col-lg-2">Sede:</label>
                                                            <div class="col"><%= pedidoNro.DomicilioPedido?.Label %></div>
                                                        </div>

                                                        <div class="g-3 row">
                                                            <label class="form-label col-form-label col-form-label-sm col-lg-2">Localidad:</label>
                                                            <div class="col"><%= pedidoNro.DomicilioPedido.Localidad.localidad_nombre %></div>
                                                        </div>

                                                        <div class="g-3 row">
                                                            <label class="form-label col-form-label col-form-label-sm col-lg-2">Provincia:</label>
                                                            <div class="col"><%= pedidoNro.DomicilioPedido.Provincia.provincia_nombre %></div>
                                                        </div>

                                                        <div class="g-3 row">
                                                            <label class="form-label col-form-label col-form-label-sm col-lg-2">Pais:</label>
                                                            <div class="col"><%= pedidoNro.DomicilioPedido.Pais.pais_nombre %></div>
                                                        </div>

                                                        <div class="g-3 row">
                                                            <label class="form-label col-form-label col-form-label-sm col-lg-2">CP:</label>
                                                            <div class="col"><%= pedidoNro.cp %></div>
                                                        </div>

                                                        <div class="g-3 row">
                                                            <label class="form-label col-form-label col-form-label-sm col-lg-2">Contacto:</label>
                                                            <div class="col"><%= pedidoNro.id_contacto %></div>
                                                        </div>

                                                        <div class="g-3 row">
                                                            <label class="form-label col-form-label col-form-label-sm col-lg-2">Zona:</label>
                                                            <div class="col"><%= pedidoNro.DomicilioPedido.Zona?.zona_label %></div>
                                                        </div>


                                                        <hr class="my-4">
                                                        <div class="col-12" style="text-align: right;">
                                                            <button class="w-45 btn btn-primary btn-lg btn-danger" type="submit">Cancelar</button>
                                                            <button class="w-45 btn btn-primary btn-lg btn-success" type="submit" id="btn_procesar">Aceptar</button>
                                                        </div>



                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </form>


                                    <div class="mb-3 card">
                                        <h5 class="bg-light card-header">Pedidos Anteriores</h5>
                                        <div class="pt-0 card-body">

                                        </div>
                                        <div class="py-2 card-footer"></div>
                                    </div>
                                    <div class="bottom-bar rounded-0 d-lg-none show card">
                                        <div class="py-2 px-0 card-body">
                                            <div class="container">
                                                <div class="flex-between-center g-0 row">
                                                    <div class="col-auto">

                                                    </div>
                                                    <div class="col-auto"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- lateral derecho -->
                                <%- include partials/options_right_large.ejs %>
                                <!-- fin lateral derecho -->
                            </div>
                        </div>
                    </div>


                    <!-- fin contenido-->

                    <!-- footer -->
                    <%- include partials/footer.ejs %>
                    <!-- fin footer -->