<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Vista de  <%= title %> </p>
    <div>
        <% for( let i = 0; i < pedidoCliente.length; i++ ) { %>
            <div class="clienteCard">
            <h3>nro_pedido = <%= pedidoCliente[i].nro_pedido%></h3>
            <p> id_cliente = <a href="/vistas/clientes/<%= pedidoCliente[i].id_cliente%>"></a><%= pedidoCliente[i].id_cliente%></a> </p>
            <p> id_contrato = <%= pedidoCliente[i].id_contrato%> </p>
            <p> serie =  <%= pedidoCliente[i].serie%> </p>
            <p> estado =  <%= pedidoCliente[i].estado%> </p>
            <br>
          </div>
          <br>
          <% } %>
    </div>
  </body>
</html>
