<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Vista de  <%= title %> </p>
    <div class="container" style="width: 900px;">
        <% for( let i = 0; i < pedidoContrato.length; i++ ) { %>
            <div class="clienteCard">
            <h3>nro_pedido = <%= pedidoContrato[i].nro_pedido%></h3>
            <p> id_cliente = <a href="/vistas/clientes/<%= pedidoContrato[i].id_cliente%>"></a><%= pedidoContrato[i].id_cliente%></a> </p>
            <p> id_contrato = <%= pedidoContrato[i].id_contrato%> </p>
            <p> serie =  <%= pedidoContrato[i].serie%> </p>
            <p> estado =  <%= pedidoContrato[i].estado%> </p>

            
            <br>
          </div>
          <% } %>
    </div>
  </body>
</html>
