<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Vista de  <%= title %> </p>
    <div>
        <% for( let i = 0; i < pedidos.length; i++ ) { %>
            <div class="clienteCard">
            <h3>nro_pedido = <%= pedidos[i].nro_pedido%></h3>
            <p> id_cliente = <a href="/vistas/clientes/<%= pedidos[i].id_cliente%>"></a><%= pedidos[i].id_cliente%></a> </p>
            <p> id_contrato = <%= pedidos[i].id_contrato%> </p>
            <p> serie = <%= pedidos[i].serie%> </p>            
            <p> estado =  <%= pedidos[i].estado%> </p>

            
            <br>
          </div><br>
          <% } %>
    </div>
  </body>
</html>
