<%- include partials/header.ejs %>
<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <main class="main" id="main">
    <!-- container-fluid -->
		<div class="container-fluid">
      <!-- nav -->
      <%- include partials/sidebar.ejs %>
      <!-- fin nav -->

      <div class="content">
        <!-- header -->
        <%- include partials/nav.ejs %>
        <!-- fin header -->

        

        <!-- contenido -->
        <div class="mb-3 card">
          <div class="position-relative card-body">
            <div class="row">
              <div class="col-lg-12">
                <h3 class="mb-0"><%= title %></h3><br>
        
                <h3>nro_pedido = <%= pedidoNro.nro_pedido %></h3>
                <p> serie =  <%= pedidoNro.serie %> </p>
                <p> id_cliente = <a href="/vistas/clientes/<%= pedidoNro.id_cliente %>"></a><%= pedidoNro.id_cliente %></a> </p>
                <p> id_contrato = <%= pedidoNro.id_contrato %></p>
                <p> tipo =  <%= pedidoNro.PedidoTipo.tipo_pedido_nombre %> </p>
                

                <p> detalle_pedido =  <%= pedidoNro.detalle_pedido %> </p>
                <p> observaciones_recepcion =  <%= pedidoNro.observaciones_recepcion %> </p>
                <p> fecha =  <%= pedidoNro.fecha %> </p>
                <p> tecnico =  <%= pedidoNro.tecnico %> </p>
                <p> domicilio =  <%= pedidoNro.domicilio %> </p>
                <p> ubicacion =  <%= pedidoNro.ubicacion %> </p>
                <p> localidad =  <%= pedidoNro.localidad %> </p>
                <p> pais =  <%= pedidoNro.pais %> </p>
                <p> cp =  <%= pedidoNro.cp %> </p>
                <p> id_contacto =  <%= pedidoNro.id_contacto %> </p>
                <p> zona =  <%= pedidoNro.zona %> </p>
                
                
              </div>
            </div>  
          </div>    
        </div>    
        <!-- fin contenido-->

        <!-- footer -->
        <%- include partials/footer.ejs %>
        <!-- fin footer -->
