<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>nro_pedido = <%= pedidoNro.nro_pedido %></h3>
    <p> id_cliente = <a href="/vistas/clientes/<%= pedidoNro.id_cliente %>"></a><%= pedidoNro.id_cliente %></a> </p>
    <p> id_contrato = <%= pedidoNro.id_contrato %></p>
    <p> estado =  <%= pedidoNro.estado %> </p>
    <p> estado =  <%= pedidoNro.serie %> </p>


    

    
    
  </body>
</html>
